<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar sticky-top" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <nav class="nav-pill p-2">
          <button type="button" class="btn btn-outline-primary">Home</button>
          <button type="button" class="btn btn-outline-dark">About</button>
        </nav>
        <nav class="nav-pills p-2">
          <% if user_signed_in? %>
            <%= link_to current_user.username, edit_user_registration_path, class: "btn" %>
            <%= button_to "Log out", destroy_user_session_path, 
                                      method: :delete, 
                                      data: { turbo: false },
                                      class: "btn btn-outline-primary" %>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-dark" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
          <% end %>
        </nav>
      </div>
    <nav class="nav">

      </nav>
    </nav>

    <%= yield %>
  </body>
</html>
